body{
	background-image: url(images/imag12.jpeg);

	background-repeat: no-repeat;

	background-position: fill;

	font-family: "Lato", sans-serif;

	webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    color:   	#FF66FF;

}

.wave {
  text-align: center;
  background: linear-gradient(to bottom, pink, white);
  height: 20px;
  position: relative;
}

.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}

.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px -15px, white 12px, transparent 13px);
}

nav{
   
background-image: url(images/image006.jpeg);
background-size: 50px;
background-repeat: no-repeat;
background-origin: content-box; 


}

div
{
background-color: transparent;

 justify-content: center;

margin-bottom: 10px;
margin-top: 20px;
}

img{

	size: 20px
}

h1{
justify-content: center;
	color: #FF66FF;
}

h2{
	
	
	color: #FF66FF;
border-color: #FF66FF;


}

footer{

	color: black;
	background-color: #FF66FF;
	padding-top: 50px;
	padding-bottom: 50px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }